@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100vh;

}

/*Header*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #03c0ff;
    height: 100px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.link_texto {
    font-size: 30px;
    font-weight: 800;
    font-family: "Sansation", sans-serif;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.link_texto:hover {
    border: solid white 2px;
    border-radius: 20px;
    padding: 5px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.areas {
    list-style: none;
    display: flex;
    gap: 10px;
}

.areas_area {
    font-size: 20px;
    font-weight: 800;
    font-family: "Sansation", sans-serif;
}

.areas_area_link {
    text-decoration: none;
    color: #000000;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.areas_area_link:hover {
    font-size: 22px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    border: solid white 1px;
    border-radius: 20px;
    padding: 5px;
}


/*Home*/
.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}

.home_informacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.home_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 30px;
    margin: 0;
}

.home_paragrafo {
    font-family: "Sansation", sans-serif;
    font-size: 20px;
    margin: 0;
}

.home_button {
    background-color: #03c0ff;
    font-family: "Sansation", sans-serif;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
}

.home_links_link {
    text-decoration: none;
}

.home_imagem {
    border-radius: 50%;
    border: #000000 solid 2px;
}

.home_imagem img {
    border-radius: 50%;
    max-width: 300px;
}

/*SOBRE MIM*/

.sobremim {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 100px 150px;
}


.sobremim_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 30px;
    margin: 0;
}

.sobremim_texto {
    font-family: "Sansation", sans-serif;
    font-size: 18px;
    margin: 0;
}

/*Habilidades*/

.skills {
    margin: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skills_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 30px;
    margin: 0;
}

.ferramentas {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.ferramentas_ferramenta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #03c0ff;
    width: 100px;
    height: 80px;
    padding: 20px;
    justify-content: center;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.ferramentas_ferramenta:hover {
    transform: scale(1.1);
}

.ferramentas_ferramenta_img {
    max-width: 32px;
}


.ferramentas_ferramenta_p {
    font-family: "Sansation", sans-serif;
    font-size: 18px;
    margin: 0;
}

/*Formação*/

.estudos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px 150px;
    ;
}

.estudos_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 30px;
    margin: 0;
}

.formacoes {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.formacoes_formacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formacao_img {
    max-width: 220px;
    border-radius: 20px;
    border: solid #000000 1px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.formacao_img:hover {
    transform: scale(1.1);
}

.formacao_info {
    max-width: 200px;
}

.formacao_info_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 20px;
    margin: 0;
}

.formacao_info_p {
    font-family: "Sansation", sans-serif;
    font-size: 15px;
    margin: 0;
}

/*Experiência*/

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px 150px;
}

.experiencia_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 30px;
    margin: 0;
}

.trabalhos {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.trabalhos_trabalho {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trabalhos_trabalho_img {
    max-width: 220px;
    border-radius: 20px;
    border: solid #000000 1px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.trabalhos_trabalho_img:hover {
    transform: scale(1.1);
}

.trabalhos_trabalho_info_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 20px;
    margin: 0;
}

.trabalhos_trabalho_info_p {
    font-family: "Sansation", sans-serif;
    font-size: 15px;
    margin: 0;
}

/*Projetos*/

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 100px 150px;
}

.projetos_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 30px;
    margin: 0;
}

.sites {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-direction: column;
}

.sites_site {
    display: flex;
    align-items: center;
    gap: 100px;
}

.invertido {
    flex-direction: row-reverse;
}

.sites_site_img {
    max-width: 700px;
    border-radius: 20px;
    border: solid #000000 1px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.sites_site_img:hover {
    transform: scale(1.1);
}

.sites_site_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sites_site_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 25px;
    margin: 0;
}

.sites_site_botao {
    font-family: "Sansation", sans-serif;
    font-size: 17px;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #03c0ff;
    padding: 20px;
    border-radius: 10px;
}

/*Contato*/

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px 0 0;
    background-color: #03c0ff;
    padding: 25px 0;
}

.contato_titulo {
    font-family: "Sansation", sans-serif;
    font-size: 30px;
    margin: 0;
}

.contato_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.contato_p {
    font-family: "Sansation", sans-serif;
    font-size: 15px;
    margin: 0;
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    border-radius: 10px;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.contato_p:hover {
    color: #00268d;
    border-color: #00268d;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.contato_link {
    text-decoration: none;
    color: #000000;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.contato_link:hover {
    color: #00268d;
    border-color: #00268d;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        height: max-content;
    }

    .link_texto {
        margin: 15px;
    }

    .areas {
        margin: 5px;
        display: none;
    }

    .areas {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 10px 0;
    }

    .home {
        flex-direction: column-reverse;
        gap: 10px;
        text-align: center;
    }

    .home_informacao {
        align-items: center;
    }

    .home_imagem img {
        max-width: 200px;
    }

    .sobremim_titulo {
        font-size: 25px;
    }

    .sobremim_texto {
        font-size: 15px;
    }

    .skills_titulo {
        font-size: 25px;
    }

    .estudos_titulo {
        font-size: 25px;
    }
    
    .experiencia_titulo {
        font-size: 25px;
    }

    .projetos_titulo {
        font-size: 25px;
    }

    .contato_titulo {
        font-size: 25px;
    }

    .sobremim,
    .skills,
    .estudos,
    .experiencia,
    .projetos {
        margin: 40px 20px;
    }

    .ferramentas {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .ferramentas_ferramenta {
        padding: 15px;
    }

    .formacoes,
    .trabalhos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .formacoes_formacao {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .formacao_img {
        max-width: 150px;
    }

    .formacao_info_titulo {
        font-size: 15px;
    }

    .formacao_info_p {
        font-size: 10px;
    }

    .trabalhos_trabalho_img {
        max-width: 150px;
    }

    .trabalhos_trabalho_info_titulo {
        font-size: 15px;
    }

    .trabalhos_trabalho_info_p {
        font-size: 10px;
    }

    .sites_site {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .sites_site_img {
        max-width: 90%;
    }

    .sites_site_titulo {
        font-size: 20px;
    }

    .sites_site_botao {
        width: 80%;
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

    .contato_p {
        width: 90%;
        font-size: 15px;
        text-align: center;
    }
}